// Page
// Styles for panels
// --------------------------------------------------


.panel-pane{
  .pane-title {
    padding-bottom: .35em;
    border-bottom: 1px solid #eeeeee;
  } 
  .views-row {
    margin-bottom: 1em;
  }
}